aiogram==2.13
aiohttp==3.7.4
aiosqlite==0.17.0
altgraph==0.17
ansicon==1.89.0
appdirs==1.4.4
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.3.0
Babel==2.9.0
beautifulsoup4==4.9.3
bottle==0.12.19
bottle-websocket==0.2.9
cachetools==4.2.1
cchardet==2.1.7
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
cheroot==8.5.2
CherryPy==18.6.0
colorama==0.4.4
commonmark==0.9.1
console==0.9907
cssselect==1.0.3
DateTime==4.3
DAWG-Python==0.7.2
decorator==4.4.2
distlib==0.3.2
djantimat==0.1.2
dnspython==2.1.0
docopt==0.6.2
EasyProcess==0.3
Eel==0.14.0
email-validator==1.1.3
ezenv==0.92
filelock==3.0.12
future==0.18.2
future-fstrings==1.2.0
fuzzywuzzy==0.18.0
gevent==21.1.2
gevent-websocket==0.10.1
google-api-core==1.26.1
google-api-python-client==2.0.2
google-auth==1.27.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.3
googleapis-common-protos==1.53.0
greenlet==1.0.0
gunicorn==20.1.0
httplib2==0.19.0
idna==2.5
iniconfig==1.1.1
iso8601==0.1.14
jaraco.classes==3.2.1
jaraco.collections==3.3.0
jaraco.functools==3.3.0
jaraco.text==3.5.0
jinxed==1.1.0
keyboard==0.13.5
lxml==4.5.0
more-itertools==8.8.0
MouseInfo==0.1.3
multidict==5.1.0
npm==0.1.1
numpy==1.20.1
oauthlib==3.1.0
optional-django==0.1.0
p2p==1.4.5
packaging==20.9
pefile==2019.4.18
phonenumbers==8.12.24
Pillow==8.1.2
pluggy==0.13.1
portend==2.7.1
protobuf==3.15.5
psycopg2==2.8.6
py==1.10.0
py2exe==0.10.2.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
pycares==3.1.1
pycparser==2.20
pygame==2.0.1
PyGetWindow==0.0.9
Pygments==2.9.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2020.11
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.2
pyQiwiP2P==1.0
PyRect==0.1.4
PyScreeze==0.1.26
pyTelegramBotAPI==3.7.6
pytest==6.2.2
python-dateutil==2.8.1
PyTweening==1.0.3
pytz==2021.1
PyVirtualDisplay==0.2.4
pywin32==301
pywin32-ctypes==0.2.0
randomapi==0.3.2
randomuser==1.6
requests==2.25.1
requests-oauthlib==1.3.0
rich==10.2.2
rsa==4.7.2
schedule==1.0.0
scipy==1.6.1
selenium==3.141.0
self==2020.12.3
six==1.15.0
soupsieve==2.2
starkbank==2.10.1
starkbank-ecdsa==1.0.0
telegram==0.0.1
tempora==4.0.2
toml==0.10.2
typing-extensions==3.7.4.3
ujson==4.0.2
uritemplate==3.0.1
urllib3==1.21.1
useragent==0.1.1
virtualenv==20.4.7
whichcraft==0.6.1
yarl==1.6.3
zc.lockfile==2.0
zope.event==4.5.0
zope.interface==5.3.0
